body {
    background-color: white;
}
.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
    font-size: 25px;
  }
  
  th {
    background-color: rgb(163, 160, 160);
  }
  
  
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  tr:hover {
    background-color: lightgrey; 
    
  }

 
td button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

td button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}


tr.row-hover {
  background-color: lightgrey;
}


td button.active {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
 
 
  